@media only screen and (min-width: 768px){
    #title{
        font-size: 30px;
        display: block flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin: 40px;
        padding: 50px;
    }
    .paper-type{
        display: inline-block;
        text-align: center;
    }
    .header-text1{
        display: flex;
        justify-content: center;
    }
    }
    @media only screen and (max-width: 767px){
        #title{
            font-size: 20px;
            display: block flex;
            justify-content: center;
            align-items: center;
            height: 150px;
        }
        .paper-type{
            display: inline-block;
            text-align: center;
        }
        .header-text1{
            display: flex;
            justify-content: center;
        }
    }